{{ define "main" }}
{{ template "header" . }}

    <!-- Navbar -->
    <nav x-data="{ isOpen: false }" class="container fixed bg-secondary z-[999] mx-auto py-3 px-4 lg:px-52 md:static md:h-auto md:w-auto" :class="{ 'active': isOpen }">
        <!-- Nav Container -->
        <div class="flex items-center justify-between flex-wrap">
            <!-- Logo -->
            <div class="flex gap-x-3">
                <img src="images/Logo.svg" alt="logo">
                <p class="text-white">Syndrom</p>
            </div>
            <!-- Mobile nav button -->
            <button class="relative group md:hidden" @click="isOpen = !isOpen">
                <div class="relative flex overflow-hidden items-center justify-center rounded-full w-[50px] h-[50px] transform transition-all duration-200">
                  <div class="flex flex-col justify-between w-[20px] h-[20px] transform transition-all duration-300 origin-center overflow-hidden">
                    <div x-bind:class="isOpen ? 'translate-y-6 delay-100' : 'translate-y-0'" class="bg-white h-[2px] w-7 transform transition-all duration-300 origin-left"></div>
                    <div x-bind:class="isOpen ? 'translate-y-6 delay-75' : 'translate-y-0'" class="bg-white h-[2px] w-7 rounded transform transition-all duration-300" ></div>
                    <div x-bind:class="isOpen ? 'translate-y-6 delay-100' : 'translate-y-0'" class="bg-white h-[2px] w-7 transform transition-all duration-300 origin-left" ></div>
                    
                    <!-- Close btn -->
                    <div x-bind:class="isOpen ? 'w-12 translate-x-0' : ''" class="absolute items-center justify-between transform transition-all duration-500 top-2.5 -translate-x-10 flex w-0 ">
                      <div x-bind:class="isOpen ? 'rotate-45' : ''" class="absolute bg-white h-[2px] w-5 transform transition-all duration-500 rotate-0 delay-300 "></div>
                      <div x-bind:class="isOpen ? '-rotate-45' : ''" class="absolute bg-white h-[2px] w-5 transform transition-all duration-500 -rotate-0 delay-300 "></div>
                    </div>
                  </div>
                </div>
            </button>
            <!-- Links -->
            <div :class="{ 'hidden': !isOpen }" class="hidden flex md:block justify-center flex-wrap gap-5 mt-5 text-2xl md:text-lg md:space-x-4" id="nav-links" hx-boost="true">
                <a href="/" class="text-tertiary w-[100%] hover:text-white"><span class="text-primary">#</span>home</a>
                <a href="/projects" class="text-tertiary w-[100%] hover:text-white"><span class="text-primary">#</span>works</a>
                <a href="/aboutme" class="text-white w-[100%]"><span class="text-primary">#</span>about-me</a>
                <a href="/contact" class="text-tertiary w-[100%] hover:text-white"><span class="text-primary">#</span>contacts</a>
            </div>
        </div>
    </nav>

    <!-- Header section -->
    <section>
        <!-- Hero Container -->
        <div class="container flex flex-col md:flex-row mx-auto justify-between px-4 lg:px-52 md:mt-8">
            <!-- Hero text -->
            <div class="flex flex-col gap-6 mt-24 md:mt-1">
                <!-- Header Content -->
                <div class="flex flex-row gap-2 md:gap-6 items-center">
                    <h2 class="text-white text-3xl"><span class="text-primary">/</span>about-me</h2>
                </div>
                <p class="text-tertiary">Who am i?</p>
            </div>
        </div>
    </section>

    <!-- About me section -->
    <section>
        <!-- About me container -->
        <div class="container flex flex-col mx-auto mt-16 gap-2 px-4 lg:px-52">
            <!-- About me Header -->
            <div class="flex flex-row justify-between items-center test">
                <div class="flex flex-row gap-6 items-center">
                    <h2 class="text-white text-3xl"><span class="text-primary">#</span>about-me</h2>
                    <span class="h-0.5 w-[10rem] md:w-[20rem] bg-primary"></span>
                </div>
            </div>
            <!-- About me content -->
            <div class="flex flex-col md:flex-row md:gap-10">
                <!-- About me text -->
                <div class="md:mt-16">
                    <p class="text-tertiary pb-5">
                        Hello, i’m a
                        <br>
                        <br>
                        passionate and self-taught Fullstack Web Developer with a strong foundation in web technologies and a knack for turning ideas into interactive and functional websites. With a portfolio boasting five completed projects, I'm on a continuous journey to improve and innovate in the web development space.
                        <br>
                        <br>
                        Transforming my creativity and knowledge into a websites has been my passion for years. I have been helping various clients to establish their presence online. I always strive to learn about the newest technologies and frameworks.
                    </p>
                </div>
                <!-- About me image -->
                <img class="border-b-2 border-primary" src="images/landing/landing-2.png" alt="about-me-img" loading="lazy">
            </div>
        </div>
    </section>

    <!-- Skills section -->
    <section>
        <!-- Skills container -->
        <div class="container flex flex-col mx-auto mt-16 gap-7 px-4 lg:px-52">
            <!-- Skills Header -->
            <div class="flex flex-row justify-between items-center test">
                <div class="flex flex-row gap-6 items-center">
                    <h2 class="text-white text-3xl"><span class="text-primary">#</span>skills</h2>
                    <span class="h-0.5 w-[10rem] md:w-[20rem] bg-primary"></span>
                </div>
            </div>
            <!-- Skill List -->
            <div class="col-span-12 md:col-span-6">
                <div class="grid grid-cols-12 gap-4 items-start">
                    <!-- Skill Item -->
                    <div class="border-2 col-span-6 lg:col-span-4">
                        <h3 class="text-white text-lg p-2">Languages</h3>
                        <hr>
                        <ul class="text-tertiary flex flex-row flex-wrap gap-3 px-3 py-2">
                            <li>PHP</li>
                            <li>Javascript</li>
                            <li>C++</li>
                            <li>Python</li>
                        </ul>
                    </div>
                    <!-- Skill Item -->
                    <div class="border-2 col-span-6 lg:col-span-4">
                        <h3 class="text-white text-lg p-2">Databases</h3>
                        <hr>
                        <ul class="text-tertiary flex flex-row flex-wrap gap-3 px-3 py-2">
                            <li>MySQL</li>
                            <li>SQLite</li>
                        </ul>
                    </div>
                    <!-- Skill Item -->
                    <div class="border-2 col-span-6 lg:col-span-4">
                        <h3 class="text-white text-lg p-2">Tools</h3>
                        <hr>
                        <ul class="text-tertiary flex flex-row flex-wrap gap-3 px-3 py-2">
                            <li>VSCode</li>
                            <li>Figma</li>
                            <li>Git</li>
                            <li>Postman</li>
                            <li>Docker</li>
                        </ul>
                    </div>
                    <!-- Skill Item -->
                    <div class="border-2 col-span-6 lg:col-span-4">
                        <h3 class="text-white text-lg p-2">Frameworks</h3>
                        <hr>
                        <ul class="text-tertiary flex flex-row flex-wrap gap-3 px-3 py-2">
                            <li>Laravel</li>
                            <li>Tailwind</li>
                            <li>Bootstrap</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

{{ template "footer" . }}
{{ end }}